# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.jar
ImmersiveEngineering-0.12-65.zip
src/main/resources/assets/simplecorn/recipes/New Text Document.txt
